html, body {
margin: 0;
padding: 0;
width: 100%;
height: 100%;
background: black;
overflow: hidden;
}

/* GLOBAL */
img, video {
position: absolute;
opacity: 0;
transition: opacity 2s ease;
}

/* BUTTONS */

#sagaBtn {
bottom: 5%;
left: 50%;
transform: translateX(-50%);
width: 600px;
cursor: pointer;
z-index: 25;
}

#enterBtn {
bottom: 2%;
left: 50%;
transform: translateX(-50%);
width: 260px;
cursor: pointer;
display: none;
z-index: 30;
}

#toursBtn {
top: 70%;
left: 5%;
width: 150px;
display: none;
cursor: pointer;
z-index: 10001;
}

#whatsappBtn {
top: 70%;
left: 20%;
width: 100px;
display: none;
cursor: pointer;
z-index: 10001;
}

/* VIDEOS */

#heyVideo {
bottom: 5%;
left: 2%;
width: 340px;
z-index: 15;
}

#gateVideo {
top: 0;
left: 0;
width: 100vw;
height: 50vh;
object-fit: cover;
z-index: 5;
}

#missionVideo,
#beginsVideo,
#journeyVideo,
#greetingsVideo {
top: 0;
left: 0;
width: 100vw;
height: 100vh;
object-fit: cover;
display: none;
z-index: 40;
}

/* MARKET IMAGE FULLSCREEN FIX */
#plazaImg {
position: fixed;
top: 0;
left: 0;
width: 100vw;
height: 100vh;
object-fit: cover;
display: none;
opacity: 0;
z-index: 9999;
}