html, body {
margin: 0;
padding: 0;
width: 100%;
height: 100%;
background: black;
overflow: hidden;
}

img, video {
position: absolute;
opacity: 0;
transition: opacity 1.5s ease;
}

/* SAGA */
#sagaBtn {
bottom: 5%;
left: 50%;
transform: translateX(-50%);
width: 500px;
cursor: pointer;
z-index: 10;
}

/* MISSION center */
#missionVideo {
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
width: 70vw;
height: 70vh;
object-fit: cover;
display: none;
z-index: 20;
cursor: pointer;
}

/* BLACKIE top */
#blackieVideo {
top: 0;
left: 50%;
transform: translateX(-50%);
width: 100vw;
height: 50vh;
object-fit: cover;
display: none;
z-index: 5;
}

/* HEY bottom left */
#heyVideo {
bottom: 5%;
left: 2%;
width: 320px;
display: none;
z-index: 8;
}

/* ENTER bottom center */
#enterBtn {
bottom: 5%;
left: 50%;
transform: translateX(-50%);
width: 250px;
display: none;
cursor: pointer;
z-index: 15;
}