.hero-text {
  position: absolute;
  inset: 0;
  z-index: 3;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-align: center;

  opacity: 0;
  visibility: visible; /* IMPORTANT for SEO */
  pointer-events: none;
}