/* Blackie upper half only */
#gateVideo {
  display: none;
  opacity: 0;
  top: 0;
  left: 50%;
  width: 100vw;
  height: 50vh;
  transform: translateX(-50%);
  object-fit: cover;
  z-index: 5;
}

/* journey.mp4 full screen */
#journeyVideo {
  top: 50%;
  left: 50%;
  width: 100vw;
  height: 100vh;
  transform: translate(-50%, -50%);
  object-fit: cover;
  opacity: 0;
  display: none;
  z-index: 40;
  transition: opacity 1s ease;
}

/* greetings.mp4 full screen */
#greetingsVideo {
  top: 50%;
  left: 50%;
  width: 100vw;
  height: 100vh;
  transform: translate(-50%, -50%);
  object-fit: cover;
  opacity: 0;
  display: none;
  z-index: 50;
}

/* Plaza full screen */
#plazaImg {
  display: none;
  top: 50%;
  left: 50%;
  width: 100vw;
  height: 100vh;
  transform: translate(-50%, -50%);
  object-fit: cover;
  opacity: 0;
  z-index: 50;
  transition: opacity 1s ease;
}

/* Buttons on Plaza */
#toursBtn {
  position: absolute;
  top: 45%;
  left: 15%;
  width: 200px;
  cursor: pointer;
  z-index: 60;
  opacity: 0;
}

#whatsappBtn {
  position: absolute;
  top: 45%;
  right: 15%;
  width: 200px;
  cursor: pointer;
  z-index: 60;
  opacity: 0;
}