.lesson-section{
padding:120px 20px 60px 20px;
text-align:center;
}


.video-container{
max-width:900px;
margin:40px auto;
background:black;
padding:10px;
border-radius:8px;
}


.video-container video{
width:100%;
border-radius:6px;
}


.lesson-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
gap:20px;
margin-top:30px;
max-width:900px;
margin-left:auto;
margin-right:auto;
}


.lesson{
background:#111;
color:white;
padding:25px;
border-radius:8px;
cursor:pointer;
position:relative;
transition:0.3s;
font-weight:bold;
}


.lesson:hover{
transform:scale(1.05);
background:#1b1b1b;
}


.lock-icon{
position:absolute;
top:10px;
right:10px;
font-size:18px;
}


.subscription-box{
text-align:center;
padding:60px 20px;
}


.subscribe-btn{
display:inline-block;
margin:10px;
padding:14px 30px;
background:#d4af37;
color:black;
font-weight:bold;
border-radius:8px;
text-decoration:none;
}


.unlock-section{
text-align:center;
padding:40px 20px 80px 20px;
}


.unlock-section input{
padding:10px;
margin-right:10px;
}


.unlock-section button{
padding:10px 20px;
background:black;
color:white;
border:none;
border-radius:5px;
cursor:pointer;
}